{% extends 'base.html' %}
{% block content %}
<div class="col-sm-10 ml-auto mr-auto ">
    <H2 class="text-center">TV Show List</H2>
    <div class="row">
            {% for entry in entries %}
            <div class="col-4 text-center">
                        <h3>{{entry.title}}</h3>
                        <img class="img-fluid rounded" style="min-width: 150px; min-height: 250px; max-width: 170px; max-height: 250px;" src='{{ entry.image_url }}' alt="">
                        <p>Genre: {{ entry.genre }}</p>
                        <p>{{ entry.rating }}/5</p>
                        <p><a href="{{url_for('edit_tvshow', entry_id = entry.id)}}" class="btn btn-outline-info">Edit</a></p>
                        <p><a href="{{url_for('delete', entry_id = entry.id)}}" class="btn btn-outline-danger btn-sm">Delete</a></p>
                    </div>
             {% endfor %}
        </div>
</div>

{% endblock %}